Mods/Dynamic Trade Interface/1.4/Schemas/TradeValidationDef.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="Defs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DynamicTradeInterface.Defs.TradeValidationDef" type="TradeValidationDef" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="TradeValidationDef">
		<xs:all>
			<xs:element name="defName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="validationCallbackHandler" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Colon-based method identifier string for method called to validate a trade deal.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
